<div class="actions">
  <fury-accounts
    (accountSelected)="accountSelected($event)"
    [refreshAccount]="refreshAccount"
  ></fury-accounts>
</div>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <mat-card-header>
      <mat-card-title> Transferencia </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="processing"></mat-spinner>
      <div class="result" fxLayout="column">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
          <mat-form-field fxFlex="auto">
            <mat-label>
              Descripcion
            </mat-label>
            <input
              matInput
              type="text"
              required
              [formControlName]="'description'"
            />
            <mat-error *ngIf="description?.errors">
              {{ description! | formErrorHandler }}</mat-error
            >
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
          <mat-form-field class="col-12">
            <mat-label>
              No. de Cuenta
            </mat-label>
            <input matInput type="text" [formControlName]="'code'" />
            <mat-error *ngIf="code?.errors">
              {{ code! | formErrorHandler }}</mat-error
            >
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>
              DPI
            </mat-label>
            <input matInput type="text" [formControlName]="'dpi'" />
            <mat-error *ngIf="dpi?.errors">
              {{ dpi! | formErrorHandler }}</mat-error
            >
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
          <mat-form-field fxFlex="auto">
            <mat-label>
              Monto
            </mat-label>
            <input
              matInput
              type="number"
              step="1"
              required
              [formControlName]="'amount'"
            />
            <mat-error *ngIf="amount?.errors">
              {{ amount! | formErrorHandler }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        [disabled]="form.invalid"
        color="primary"
      >
        <mat-icon>move_down</mat-icon>
        Transferir
      </button>
    </mat-card-actions>
  </form>
</mat-card>
