<form [formGroup]="exchangeForm">
  <mat-spinner *ngIf="processing"></mat-spinner>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="8px">
      <mat-form-field>
        <mat-label>Moneda</mat-label>
        <mat-select
          formControlName="accountControl"
          (valueChange)="changeSymbol($event)"
        >
          <mat-option *ngFor="let symbol of symbols" [value]="symbol">
            {{ symbol.currencyCode }} - {{ symbol.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
      <mat-form-field fxFlex="auto">
        <mat-label> Rate </mat-label>
        <input matInput type="number" step="1" [formControlName]="'rate'" />
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <mat-label> Conversion </mat-label>
        <input
          matInput
          type="number"
          step="1"
          [formControlName]="'conversion'"
        />
      </mat-form-field>
    </div>
  </div>
</form>
